html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
  body,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ol,
  ul {
    margin: 0;
    padding: 0;

  }
  
  ol,
  ul {
    list-style: none;
  }
  
  body {
    font-family: 'Heebo', sans-serif;
    color: #21243D;
  
  }
  .nav {
    display: flex;
    justify-content: flex-end;
    padding-top: 27px;
    padding-right: 60px;
  }
  .nav-contacts {
    padding-right: 110px;
    width: 57px;
    height: 43px;
    line-height: 29px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: orange;
  }
  .contactus{
    padding-left: 235px;
    padding-bottom: 60px;
    color: #21243D;
    font-size: 50px;
  }
  
  .nav-works {
    padding-right: 93px;
    width: 49px;
    height: 43px;
    line-height: 29px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color:black;
  

  }
  
  .nav-blog {
    padding-right: 70px;
    width: 49px;
    height: 43px;
    line-height: 29px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
  }
  .nav-home {
    padding-right: 93px;
    width: 57px;
    height: 43px;
    line-height: 29px;
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
  }
  .type-info{
    padding-left: 235px;
    width: 600px;
    font-size: 30px;
    font-weight: 700;

    
  }
  .input{
    width: 400px;
    padding: 10px;
    border: 3px solid #000;
        border-radius: 5px;
      

}
.input-text{
    height: 200px;
    width: 400px;
    padding: 10px;
    border: 3px solid #000;
    border-radius: 5px;


}
button{
    width: 150px;
    height: 40px;
    background-color: #21243D;
    color: white;
    border-radius: 6px;
    margin-left: 235px;
    margin-top: 30px;
}
.button-title{
    font-size: 25px;


}


  .footer{

    padding-top: 87px;
    margin: 10px;

}
.footer-icons{
    display: flex;
    justify-content: center;
}
.icon{
padding-right: 30px;
}
.textend{
    padding-top: 20px;
    padding-bottom: 50px;
padding-left: 570px;
}